    html,
    body {
        user-select: none;
        padding: 0;
        margin: 0;
        background-color: #202125;
        color: white;
        font-family: "Prompt", sans-serif;
        /*Works on FireFox*/
        scrollbar-width: thin;
        scrollbar-color: #202125 white;
    }
    
    body {
        overflow: hidden;
    }
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #202125;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
     ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(20, 21, 25, 0.5);
    }
    
    a {
        text-decoration: none;
    }
    /*COPYRIGHT*/
    
    #copyright {
        overflow: hidden;
        margin-top: 5vh;
        padding: 2em 1em;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        color: rgba(255, 255, 255, 0.6);
        letter-spacing: 1px;
        text-align: center;
    }
    
    #copyright h1 {
        margin: 2vh 0 0 0;
        font-size: 2vh;
    }
    
    #copyright h2 {
        margin: 0;
        font-size: 1.3vh;
    }
    
    #copyright a {
        display: inline;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
    }