.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient( 109.6deg, rgba(62, 161, 219, 1) 11.2%, rgba(93, 52, 236, 1) 100.2%);
    width: 100%;
    height: 90vh;
}

.desc {
    align-self: flex-start;
    cursor: default;
    margin: 20vh 5vw 0 15vw;
    font-family: "Prompt", sans-serif;
    font-weight: lighter;
    font-size: 4vh;
}

.header svg {
    margin-right: 5vw;
    width: 15vw;
    position: absolute;
    right: 0;
    height: auto;
    overflow: visible;
}

.header path {
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
    animation: animate 4s linear forwards infinite;
}

@keyframes animate {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 800;
    }
    100% {
        stroke-dashoffset: 1600;
    }
}

.button {
    font-weight: bold;
    font-family: inherit;
    font-size: 2vh;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-color: #2E4053;
    background-color: #2E4053;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: inline-block;
}

.button:hover {
    background-color: transparent;
    color: #2E4053;
}

.header-b {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20vh;
}

.features {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-item {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    animation: fadeIn linear 2s;
}

.features-item-desc {
    width: 30vw;
}

.features-item img {
    width: 20vw;
    height: auto;
}

.features-item-desc h1 {
    font-family: inherit;
    font-weight: 450;
    font-size: 2em;
    color: #3ea1db;
    text-transform: uppercase;
}

.features-item-desc h2 {
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
}

.carousel {
    margin: 5vh 0;
    height: calc((20/9)*15vw + 10vh);
    padding-bottom: 10vh;
}

.carousel .carousel-item {
    height: calc((20/9)*15vw);
    width: 15vw;
}

.carousel .carousel-item img {
    border-radius: 25px;
    height: calc((20/9)*15vw);
    width: 15vw;
}

.carousel .carousel-item .active img {
    filter: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:1024px) {
    .desc {
        font-size: 3vh;
        margin: 15vh 3vw 0 10vw;
    }
    .header {
        flex-direction: column;
    }
    .header svg {
        position: initial;
        margin: 0;
        width: 30vw;
    }
    .header-b {
        margin-top: 5vh;
        flex-direction: column-reverse;
    }
    .button {
        font-size: 2vh;
        padding: 16px 40px;
    }
    .features-item {
        flex-direction: column;
        overflow: hidden;
    }
    .features-item img {
        width: 50%;
    }
    .features-item-desc {
        text-align: center;
        width: 100%;
    }
    .features-item-desc h2 {
        margin: 0 15px;
        text-align: center;
    }
    .carousel {
        height: calc((20/9)*40vw + 10vh);
    }
    .carousel .carousel-item {
        height: calc((20/9)*40vw);
        width: 40vw;
    }
    .carousel .carousel-item img {
        height: calc((20/9)*40vw);
        width: 40vw;
    }
}