.navbar {
    z-index: 1;
    backdrop-filter: blur(8px);
    background-color: rgba(51, 51, 51, 0.8);
    position: fixed;
    top: 0;
    cursor: default;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

.navbar-a {
    display: flex;
}

.navbar-a a .logo {
    margin: 5px 0;
    cursor: pointer;
    height: 9.5vh;
}

#toggler {
    display: none;
    height: 9.5vh;
}

.navbar-b {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.animateVisible {
    max-height: 90vh;
    transition: all 0.5s linear;
}

.animateHidden {
    max-height: 0;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.navigate {
    display: flex;
    transition: 0.5s;
    margin: 0 17vw 0 0;
}

.navigate a {
    margin-left: 2vw;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 3vh;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.5);
}

.navigate a:hover {
    color: rgba(255, 255, 255, 1);
}

.navigate .active {
    color: rgba(255, 255, 255, 1);
}

.social {
    display: flex;
}

.social a .logo {
    cursor: pointer;
    margin-left: 2vw;
    height: 4.5vh;
}

@media screen and (max-width:1024px) {
    .navbar {
        flex-direction: column;
        overflow: hidden;
    }
    .navbar-a {
        width: 100%;
        justify-content: space-between;
    }
    .navbar-a a .logo {
        padding: 5px 0 5px 3vw;
    }
    #toggler {
        display: block;
    }
    .navbar-b {
        align-items: unset;
        width: 100%;
        flex-direction: column;
    }
    .navigate {
        flex-direction: column;
    }
    .navigate a {
        margin: 2vh 0 0 5vw;
    }
    .social a .logo {
        margin: 2vh 0 2vh 5vw;
    }
}